<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/style.css">
		<title>{{title}}</title>
		<meta charset="utf-8">
	</head>
	
	<body>
		<h1>{{ greeting }}</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget orci ut ex tincidunt fringilla eu vel dolor. Maecenas ex quam, feugiat quis nisi in, tristique semper est. Maecenas in hendrerit ligula, id pretium tellus. Sed mollis leo a ipsum aliquam, at suscipit libero tincidunt. Vestibulum tincidunt dolor ac neque fermentum accumsan. Aenean posuere nisl non iaculis sollicitudin. Aenean ac commodo augue. </p>
	</body>
</html>
